<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sda.pacient.apk"> <!-- To auto-complete the email text field in the login form with the user's emails -->

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.flash"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACTION_DIAL" />

    <application>
        <activity
            android:name=".LoginActivity"
            android:label="Serviciul de Ambulante"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:icon="@mipmap/ic_launcher">
            <intent-filter android:order="1">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="sda.com"
                    android:pathPattern="/.*"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="S.d.A - Register"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        <activity
            android:name=".PacientActivity"
            android:label="S.d.A - Pacient"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize">

        </activity>
        <activity
            android:name=".HeartBeatActivity"
            android:label="S.d.A - Puls"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        <activity
            android:name=".SOSinfoActivity"
            android:label="S.d.A - SOS Info"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        <activity
            android:name=".BloodPressureActivity"
            android:label="S.d.A - Tensiune"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        <activity
            android:name=".BodyTemperatureActivity"
            android:label="S.d.A - Temperatura"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        <activity
            android:name=".ConsciousActivity"
            android:label="S.d.A - Constient"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        <activity
            android:name=".OtherActivity"
            android:label="S.d.A - Alte Informatii"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        <activity
            android:name=".ImmoActivity"
            android:label="S.d.A - Imobilizat"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        <activity
            android:name=".StableActivity"
            android:label="S.d.A - Stabil"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        <activity
            android:name=".menu.ChangePassActivity"
            android:label="S.d.A - Parola"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        <activity
            android:name=".menu.ChangeAddressActivity"
            android:label="S.d.A - Adresa"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        <activity
            android:name=".menu.ChangeMedicalHistoryActivity"
            android:label="S.d.A - Stare de Sanatate"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        <activity
            android:name=".menu.LockAccountActivity"
            android:label="S.d.A - Blocare Cont"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>

    </application>

</manifest>